#contact{
	background-image: url(../images/squares.png)
}
.col-50{
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
}
.row-50{
	display: flex;
	justify-content: space-around;
	height: 50%;
	align-items: center;

	margin-top: -30px;
	
}
fieldset{
	margin-bottom: 15px;
}
label{
	font-size: 1.3em;
	display: block;
	margin-bottom: 10px;
	text-align: left;
}
textarea{
resize: vertical;
}
input, textarea{
box-sizing: border-box;
	width: 100%;
	border-radius: 3px;
	border: none;
	line-height: 1.5;
	padding: 7px 14px;
	font-size: 1em;
	border: 1px solid #ccc;
}

input:focus,textarea:focus{
	outline: none;
	border: 1px solid oceanblue;/*CHANGE THIS*/
	border-color: aliceblue
}
button{
	display: inline-block;
	padding: 7px 14px;
	text-align: center;
	cursor: pointer;
	background-color: crimson;
	border: none;
	line-height: 1.5;
	border-radius: 5px;
	font-size: 1em;
	color: #eee;
}
#contact .icon {
	display: inline-block;
	width: 50%;
	height: 70px;
	box-sizing: border-box;

}
#contact a,
#contact a:visited{
color: black;
}

#contact i{
	margin: 0;
	font-size: 6em;
}
.error{
	background: rgba(220,20,60,.7);
	
}