#projects {
	background-image: url(../images/wave.png);
}
#projects .container {
	margin-top: 55px;
}
.project {
	width: 225px;
	height: auto;
	box-sizing: border-box;
  color: #fafafa;
}
#projects a {
  color: #fafafa
}
.project img {
	width: 100%;
	min-height: 100%;
	z-index: 1;
	display: inline-block;
}
.project > header {
	font-size: 2em;
	margin: 0 0 26px 0;
}
figure {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
	height: 175px;
	overflow:hidden;
}

figcaption {
	box-sizing: border-box;
	line-height: 1.2;
	position: absolute;
	display: none;
	font-size: 1.3em;
	width: 100%;
	padding: 0 15px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
  z-index: 2
}
figure:hover figcaption {
	display: inline-block;
	transform-origin: bottom;
	animation: grow 500ms ease-in-out forwards;
}
figure:hover img {
	animation: disappear 400ms ease-in-out forwards;
}
@keyframes grow {
	0% {
		opacity: 0;
		transform: translate(-50%,-50%) scaleY(.1);
	}
	100% {
		opacity: 1;
		transform: translate(-50%,-50%) scaleY(1);
	}
}
@keyframes disappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .1;
	}
}
